/*************************************
            PAGE LAYOUT
*************************************/
* {
    margin: 0;
}
 html, body {
    height: 100%;
 }

 body {
    width: 100%;
 }
.container {
    background: url('../img/bgtexture.png');
    background-color: #ffdc71;
    background-color: rgba(255, 220, 113, .31);
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2.8125rem;
}

p {
    color: #0E0740;
}

@font-face{
    font-family: 'limelight';
    src: url('../fonts/limelight/limelight.eot');
    src: url('../fonts/limelight/limelight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/limelight/limelight.woff') format('woff'),
         url('../fonts/limelight/limelight.ttf') format('truetype'),
         url('../fonts/limelight/limelight.svg#limelight') format('svg');
}

@font-face {
   font-family: 'liberation';
      src: url('../fonts/liberation-front/liberationserif-regular-webfont.eot');
      src: url('../fonts/liberation-front/liberationserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/liberation-front/liberationserif-regular-webfont.woff') format('woff'),
           url('../fonts/liberation-front/liberationserif-regular-webfont.ttf') format('truetype'),
           url('../fonts/liberation-front/liberationserif-regular-webfont.svg#liberation') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'liberationBold';
      src: url('../fonts/liberation-front/liberationserif-bold-webfont.eot');
      src: url('../fonts/liberation-front/liberationserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/liberation-front/liberationserif-bold-webfont.woff') format('woff'),
           url('../fonts/liberation-front/liberationserif-bold-webfont.ttf') format('truetype'),
           url('../fonts/liberation-front/liberationserif-bold-webfont.svg#liberationBold') format('svg');
   font-weight: normal;
   font-style: normal;
}

/*************************************
            NAVIGATION BAR
*************************************/

.top-bar, .top-bar.expanded .title-area{
    background: #7a0005;
}
.top-bar-section ul {
    margin-left: .5rem;
}
.top-bar-section ul li {
    background: #6a0005;
    margin-left: .5rem;
}

.top-bar-section ul li:hover {
    background: #5a0005;
}

.top-bar.expanded .toggle-topbar a {
    color: #ffdc71;
}

.top-bar.expanded .toggle-topbar a span::after {
    box-shadow: 0 0px 0 1px #ffdc71,
                0 7px 0 1px #ffdc71,
                0 14px 0 1px #ffdc71;
}

.top-bar .name {
   margin-left: 1rem;
}

.top-bar .name h1 a{
    font-family: 'limelight', Arial, sans-serif;
    font-size: 24px;
    color: #ffdc71;
}
#bottom {
    padding: 1.25rem 0;
    margin-right: 2.5rem;
    font-family: 'liberationBold'
}
#bottom p {
    color: #ffdc71;
}
/*.social {
    position: relative;
    margin: 0 31px 0 0;
}

.social li {
    list-style-type: none;
}

#linkedin, #linkedin:hover, #twitter, #twitter:hover, #github, #github:hover {
    width: 45px;
    height: 45px;
}

#linkedin {
    background: url('../img/logo-sprites.svg') 0 -45px;
}

#linkedin:hover {
    background: url('../img/logo-sprites.svg') 0 0;
}

#twitter {
    background: url('../img/logo-sprites.svg') -45px -45px;
}

#twitter:hover {
    background: url('../img/logo-sprites.svg') -45px 0;
}

#github {
    background: url('../img/logo-sprites.svg') -90px -45px;
}

#github:hover {
    background: url('../img/logo-sprites.svg') -90px 0;
}*/
/*************************************
            POSTER GAME
*************************************/

.gamewrapper {
    width: 100%;
    max-width: 1200px;
    /*margin: 0 auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.posterframe {
    width: 42%;
    float: left;
    margin: 0 4rem 0 8%;
    position: relative;
    z-index: 99;
}

.posterframe img:nth-child(1) {
    width: 100%;
    position: relative;
    z-index: 99;
}

.posterframe img:nth-child(2) {
    width: 68%;
    position: absolute;
    top: 11.3%;
    left: 15%;
    margin: 0;
}

.posterframe div {
    position: absolute;
    width: 15rem;
    top: 104%;
    left: 50%;
    margin-left: -7.5rem;
}

#next-button, #play-again a {
    background-color: transparent;
    border: .5rem solid #7a0005;
    text-align: center;
    padding: 0 4.5rem;
    color: #7a0005;
    font-family: 'limelight', serif;
    font-size: 2rem;
    -webkit-transition:color 0.5s ease;
    transition: color 0.5s ease;
    -webkit-transition: border 0.5s ease;
    transition: border 0.5s ease;
}

#next-button:hover, #play-again a:hover {
    border: .5rem solid #aa0305;
    color: #aa0305;
}

#play-again {
    margin: 5rem auto 1rem;
    text-align: center;
    /*width: 22.1875rem;*/
}

.answers{
    margin: 5rem 0 3rem 0;
}

a#viewTrailer {
    color: #f1f2ca;
    background-color: #0E0740;
    display: none;
}

.gamewrapper section {
    width: 100%;
}
.gamewrapper section p {
    padding-top: .75rem;
    font-size:  3rem;
    font-family: 'liberation', serif;
    word-wrap: break-word;
}

.gamewrapper section .answers p {
    cursor: pointer;
}

.gamewrapper section .answers p > span {
    padding: 0 10px;
    margin-right: 2rem;
    background-color: #ffdc71;
    border: 2px solid #000;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0 ,0, .5);
    -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0 ,0, .5);
    box-shadow: 2px 2px 2px 0 rgba(0, 0 ,0, .5);
}

.gamewrapper section p:hover > span, .gamewrapper section p > span:hover{
    background-color: #e5c467;
}

.gamewrapper section p > span.correct {
    background-color: #36e1ed;
}

.gamewrapper section p > span.wrong {
    background-color: #7a0005;
}
.gamewrapper section .score p:hover {
    background-color: transparent;
}

.score {
    font-family: 'liberation', serif;
    padding: .5rem 0;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 1rem;
}
#end-score {
    margin-top: 2rem;
}
.score p{
    font-size:  2rem;
    padding: 0;
    margin: -1.5rem 0;
}
.score#top {
    display: none;
}
hr {
    display: none;
    border: solid #7a0005;
    border-width: 1px 0 0;
    margin: 1rem;
}
.answers-mobile{
    display: none;
}
#endinfo {
    width: 100%;
    max-width: 75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
#end-text {
    text-align: center;
    font-size: 2rem;
    color: #7a0005;
}

/*************************************
           FOOTER
*************************************/

.footer {
    background: #0E0740;
    overflow: hidden;
}

.footer, .push {
    height: 2.8125rem;
}

.footer ul {
    margin-right: 1.9375rem;
}

.footer ul {
    padding-top: .625rem;
}

.footer p {
    color: #fff;
}
.footer a[href^="humans"] img {
    padding-top: 0.4375rem;
    margin-left: 1.9375rem;
}

/*************************************
              MODAL
*************************************/

.reveal-modal {
    border: 1rem solid #7a0005;
    background-color: #fef3d2;
}
#videoModal {
    top: 50% !important;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*************************************
              FORM
*************************************/
form{
    margin: 0 auto;
}

label.right {
    text-align: left;
}

.submit {
    margin: 1rem 2.5rem 0 0;
    color: #fff;
    background-color: #7a0005;
}

.submit:hover {
    background-color: #aa0305;
}

/*************************************
           MEDIA QUERIES
*************************************/

/**********MOBILE DEVICES**************/
@media only screen and (max-width: 56.25em) {
    .posterframe,  .gamewrapper section {
        float: none;
        margin-left: 0;
        margin-bottom: 25%;
    }
    .top-bar .name {
        margin-left: 0;
    }
    .gamewrapper {
        position: static;
        margin: 0 auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .posterframe {
        width: 75%;
        margin: 0 auto .5rem;
        text-align: center;
    }
    .posterframe div {
        top: 118%;
    }
    #next-button, #next-button:hover, #play-again a, #play-again a:hover {
        border: .35rem solid #7a0005;
    }
    #next-button, #play-again a {
        font-size: 1.5rem;
        display: none;
    }
    .top-bar-section ul li>a {
        font-family: 'liberation', serif;
        padding-left: 0;
        text-align: center;
    }
    .gamewrapper {
        width: 80%;
    }
    .answers {
        display: none;
    }
    .answers-mobile{
        display: block;
        width: 75%;
        margin: 0 auto;
    }
    .score {
        margin-bottom: .5rem;
    }
    .score p {
        font-size: 1.5rem;
        padding-top: .5rem;
    }
    .score#bottom {
        display: none;
    }
    .score#top {
        display: block;
    }
    #play-again {
        margin: 3rem auto 1rem
    }
    #end-text {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .footer a[href^="humans"] img {
        margin-left: 1rem;
    }
    .footer ul {
        margin-right: 1rem;
    }
    hr {
        display: block;
    }
    .reveal-modal, dialog {
        min-width: 0;
        min-height: 0;
    }
    .reveal-modal {
        border: .5rem solid #7a0005;
        padding: 4rem .5rem .75rem .5rem;
    }
    .submit {
        margin: 1rem 0 0 0;
    }
    textarea {
        margin: 0 0 1rem 2rem;
    }
    input[type="text"]:not(#userName) {
        margin: 0 0 1rem .75rem;
        width: 175%;
    }
    .row {
        margin-left: -1rem;
    }
    #video-model-btn{
        text-align: center;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 40em) and (max-width: 56.25em) {
    .posterframe,  .gamewrapper section {
        margin-bottom: 4rem;
    }
    .posterframe {
        width: 50%;
    }
    .posterframe div {
        top: 103.5%;
    }
    .answers {
        display: block;
        margin: 4.5rem 0 0 0;
    }
    .gamewrapper section p {
        font-size: 2rem;
        padding-top: 0;
        text-align: center;

    }
    .gamewrapper section .answers p {
        margin-bottom: 0;
    }
    .gamewrapper section .answers p > span {
        display: none;
    }
    .answers-mobile{
        display: none;
    }
    a#viewTrailer {
        display: block;
    }
    #video-model-btn{
        margin: -1rem 0 2rem 0;
    }
}

/**********DESKTOP SCREENS**************/
@media only screen and (min-width: 56.25em) and (max-width: 90em) {
    .gamewrapper section p {
        font-size: 2rem;
    }
    .posterframe {
        max-width: 321px;
        margin: 0 4rem 0 20%;
    }
    .answers {
        margin: 3rem 0 3rem 0;
    }
}


















